{% extends "base-base.html" %}
{% load socialaccount %}

{% block title %}Moore Family Home{% endblock %}


{% block content %}

<h1>A dedicated family planner for easy use.</h1>

<hr />
{% if user.is_authenticated %}
    {% if user.first_name %}
        <p>Welcome {{user.first_name}}!</p>
    {% else %}
        <p>Welcome user {{user.username}}!</p>
    {% endif %}
{% else %}
    <h2>Log In</h2>
    <p>You will need to <a href="{% url 'account_login' %}">log in</a> or: <a href="{% url 'account_signup' %}">register</a> first!</p>
    <hr />
    <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
{% endif %}

<hr />

{% endblock %}